<div class="inputFields-contianer">
  <mat-form-field id="datePicker">
    <label>
      <input matInput [matDatepicker]="picker" placeholder="Datum">
    </label>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
  </mat-form-field>
  <div class="mdc-text-field mdc-text-field--outlined">
    <input type="text" id="tf-outlined" class="mdc-text-field__input">
    <div class="mdc-notched-outline">
      <div class="mdc-notched-outline__leading"></div>
      <div class="mdc-notched-outline__notch">
        <label for="tf-outlined" class="mdc-floating-label">Your Name</label>
      </div>
      <div class="mdc-notched-outline__trailing"></div>
    </div>
  </div>
</div>
