.app-container {
  height: 100vh;
  width: 100vw;
}

#header {
  display: grid;
  //width: 100%;
  //justify-content: space-between;
  align-items: center;
  padding-left: 7px;
  padding-right: 7px;
  background-color: lightblue;
  grid-template-columns: 50px 1100px 100px;
}

#logo {
  font-size: 50px;
  background-color: white;
  border-radius: 50%;
  border-color: white;
  color: lightblue;
  cursor: pointer;
  display: inline-flex;
}

#titel {
  display: inline-flex;
  color: white;
  margin-left: 10px;
}

#allProjects {
  color: lightblue;
}

